# Ignore everything in this directory and subdirectories
*

# Except directories and specific files
!*/

!.gitignore
!*.md

!.placeholder

!Makefile

!*.c
!*.C
!*.cc
!*.cpp
!*.cxx
!*.c++

!*.h
!*.hh
!*.hpp
!*.hxx
!*.h++

!*.py
